/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #042d53;
  --second-color: #d4b86c;
  --primary-color: #387fc2;
  --main-transition: 0.3s;
  --main-padding: 60px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../imgs/1325725.png");
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--main-color);
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* end Global Rules */

/* start components */

/* end components */

/* Start Animation */
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

/* End Animation */


/* start scrolbar */
::-webkit-scrollbar {
  width: 16PX;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #39393a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}

/* end scrolbar */

/* start floating btn */
#floating-arrow {
  position: fixed;
  bottom: 25px;
  right: 40px;
  color: rgb(248, 108, 58);
  cursor: pointer;
  z-index: 9999;
  display: none;
  animation: floatAnimation 0.8s infinite alternate;
  -webkit-animation: floatAnimation 0.8s infinite alternate;
}

#floating-arrow:hover {
  color: var(--main-color-alt);
}

/* end  floating btn*/

/* start nav */
.navbar {
  box-shadow: none;
}

.navbar-brand {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.navbar-brand:hover {
  color: white;
}

.navbar-brand img {
  width: 45px;
  margin-left: 5px;
}

.offcanvas-title .navbar-brand {
  color: var(--main-color);
}

.offcanvas-title .navbar-brand:hover {
  color: var(--main-color);
}


.nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
  color: white;
}

.nav-item .nav-link:hover {
  color: var(--second-color);
}

.nav-item .active {
  color: var(--second-color) !important;
}

@media (max-width: 991px) {
  .nav-item .nav-link {
    color: var(--main-color);
    font-size: 25px;
    padding: 20px;
    margin: 0;
  }
}

.navbar .navbar-toggler .burger-icon {
  font-size: 25px;
}

/* end nav */





/*  */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.landing {
  background-image: url(/imgs/44618.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.landing .container {
  height: 100vh;
}

/*  */



















/* start contact */
.contact {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact h1 {
  margin-bottom: 20px;
  font-size: 55px;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 600px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control:focus {
  border-color: var(--main-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px var(--main-color);
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #999999;
  font-size: 18px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 40px;
  background-color: rgb(255, 126, 79);
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: var(--main-color);
}

/* end contact */